<div class="container mt-5">
  <div class="row">
    <div class="col-10">
      <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>WELCOME</h1>
        <p>MERN PANEL...</p>
      </div>
    </div>
  </div>
</div>
