
<section class="my-5">
    <div class="container mt-5" >
        <div class="row">
            <div class="col-6">
                <h1 class="">Tüm Filmler</h1>
                <hr color="black">
                <a  href="/dashboard/all-movies/add" class="btn btn-secondary my-5" >Film Ekle</a>
            </div>
        </div>
    </div>

  

        <div class="container">
            <h3>Film Listesi</h3>
            <table class="table table-white table-hover ">
                <thead>
                    <tr>
                    
                      <th scope="col">Film Resmi</th>
                      <th scope="col">Film Adı</th>
                       <th scope="col"> Detay </th>
                      <th scope="col">Sil</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% FindList.forEach(item => { %>
                    <tr>
                     
                        <td  >  <img src="<%=item.movieImg %> "    alt="resim yüklenmedi" width="100"  height="100">  </td>     
              
                       <td  class="align-middle"> <%= item.movieTitle  %>  </td>
                       <td  class="align-middle"> <a href="/dashboard/all-movies/<%= item._id  %> " >Detaylar...</a> </td>
                       
                       <td class="align-middle">  
                        
                        <form action="/dashboard/delete-movie/<%= item._id %>" method="post">

                            <button class="btn btn-danger"  type="submit">Sil</button>  </td>                                                  
                        </form>
                       
                      </tr>
                      <% }) %>
                      
                   
                   
                

                  
                 
            
                  </tbody>
              </table>
        </div>
        

      

</section>





